/* FIRst comp css stars */

.firstpart {
  position: relative;
  font-weight: bold;
  min-height: 350px;
}
.bg-image {
  /* position: relative    ; */
  /* min-height: 100%; */
  width: 100%;
  height: auto;
  background-size: cover;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 110px;
  color: white;
}

.aboutus-heading {
  width: 22%;
}
.para-aboutus {
  padding-top: 50px;
  width: 60%;
}

/* First comp css ends */

/* second comp css starts */

.sec-comp-container {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  padding: 50px 110px;
}

.sec-text-description {
  width: 70%;
}

/* second comp css ends */

/* MEDIA QUERIES */

@media only screen and (max-width: 465px) {
   .aboutus-heading,.para-aboutus
   {
     font-size: 10px;
   }
}
