.navbar
{
  width: 100%;
  background-color: black;
}
.navbar-brand
{
  color:white;
  padding-left:100px;
  font-size:30px;
  font-weight:bold;
}
.nav-item
{
 
  font-size:20px;
  font-weight:600;
}
.nav-item a
{
  text-decoration:none;
  color:white;
}
.item-1 /*nav-item 1 */
{
  margin-left: 50px;
} 

/* NAVBAR BUTTONS */
.btn 
{
  margin: 0px 20px;  
  color:white;
  border:2px solid white;
  border-radius:10px;
  font-size:17px;
}
.btn-2
{
  margin-right: 100px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 465px)
{
  .navbar-toggler-icon
  {
    color: white;
    border-color:white;
  }
  .navbar-brand,.nav-item
  {
    padding: 0px;
  }
  .navbar-brand
  {
    margin-left: 12px;;
  }
  .nav-item
  {
    margin: 10px 0px;
  }
  .btn
  {
    margin: 0 10px;
  }

}